.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle{
    font-size: 20px;
}

.featuredMeasurementContainer{
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featuredTempIcon{
    margin-left: 1px;
    color: #cb1e21;
}

.featuredHumIcon{
    margin-left: 1px;
    color: #1e66cb;
}

.featuredPressIcon{
    margin-left: 1px;
    color: #1ecbc8;
}

.featuredMeasurement{
    font-size: 50px;
    font-weight: 600;
}

.featuredMeasurementUnit{
    text-align: right;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.featuredLastTimeUpdateContainer{
    display: flex; 
    justify-content: flex-end;
}

.featuredLastTimeUpdate{
    font-size: 15px;
    color: gray;
}